.text_negative {
    color:#E95000;
}

.btn_table {
    font-weight: 500;
    width: 120px; 
    height: 35px;
    padding: 5px; 
    margin: -3px;
}
/*========================
          SEARCH
=========================*/
#search_header {
    background-color: #F7F7FC;
}
input::placeholder {
    color: #888;
    font-size: small;
}

.header_bg {
    background-image: url("../images/search_header.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 56px) 54px;
    background-size: 260px;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 330px;
}
.search_form {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    height: 55px;
}

.btn_search {
    padding: 12px 32px;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    background-color: #4a44c5;
    border: 2px solid #4a44c5;
    box-shadow: none !important;
    text-transform: uppercase;
}

@media screen and (max-width:990px){
    .search_form {
        margin-top : 60px;
        width: 80%;
    }
    .header_bg {
        height: 280px;
        background-size: 220px;
        background-position: calc(100% - 56px) 42px;
    }
}

@media screen and (max-width: 767px){
    .search_form {
        margin-top : 80px;
    }
    .header_bg {
        padding-top: 48px;
        background-size: 190px;
        background-position: calc(100% - 56px) 72px;

    }
    .custom_nav_menu_search {
        margin-top: 0px;
        padding: 10px 10px !important;
        background-color: #fff !important;
    }
    
}


/*========================
       NAVBAR
=========================*/


.custom_nav_menu_search 
 {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
}

.custom_nav_menu_search .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom_nav_menu_search .navbar-nav li a {
    color: #222;
    font-size: 14.2px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 8px;
    transition: all 0.4s;
}

.stickyadd.custom_nav_menu_search .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom_nav_menu_search .navbar-brand.logo img {
    height: 26px;
}

.stickyadd.custom_nav_menu_search {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom_nav_menu_search .navbar-nav li.active a,
.custom_nav_menu_search .navbar-nav li a:hover,
.custom_nav_menu_search .navbar-nav li a:active {
    color: #ff4f5b !important;
}


.custom_nav_menu_search .stickyadd .logo  {
    display: inline-block;
}


.custom_nav_menu_search .logo  {
    display: inline-block;
    
}