
/***************
       font
*****************/

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600|Rubik:400,500');


@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
    src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal; 
	src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
    
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
    src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
    
}


/*=================
    default
===================*/

body {
    font-family: 'Gmarket Sans', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gmarket Sans', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 500 !important;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none !important;
    outline: none !important;
}




p {
    font-family: 'Gmarket Sans';
    font-style: normal !important;
    font-weight: 500;
    line-height: 1.9 !important;
    letter-spacing: -0.05em;
    font-size: 17px !important;
}


p>a {
    color: #ddd;
}

/*=================
====================*/

#videoBaroapp {

    max-width: 75%;
    max-height: 75%;
}


.baro_highlight {
    color: #4870D2;
}


.bg_overlay_cover_on {
    background-color:#3f3fa8;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.text_custom {
    color: #3f3fa8;
}

.bg_custom {
    background-color: #3f3fa8;
}

.btn {
    padding: 12px 32px;
    font-size: 14px;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn_custom {
    border: 2px solid #3f3fa8;
    background: #3f3fa8;
    font-weight: bold;
    color: #ffffff;
}

.btn_baroapp {
    padding: 12px 40px;
    width: 95%; 
    border-radius: 2em; 
    color: #000; 
    font-size: 14px; 
    font-weight: 600; 
    transition: all 0.5s;
    letter-spacing: 0.6px;
    background-color:#F4F2F3;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn_border {
    color: #3f3fa8; 
    background-color: white; 
    border: 2px solid #3f3fa8;
    padding:12px 24px;
}

.btn_custom:hover,
.btn_custom:focus,
.btn_custom:active,
.btn_custom.active,
.btn_custom.focus,
.btn_custom:active,
.btn_custom:focus,
.btn_custom:hover,
.open > .dropdown-toggle.btn_custom {
    color: #fff;
    background-color: #5b55d6;
    border: 2px solid #5b55d6;
}

.btn_outline {
    border: 2px solid #f5f5f5;
    background: transparent;
    border-radius: 35px;
}

.btn_outline:hover,
.btn_outline:focus,
.btn_outline:active,
.btn_outline.active,
.btn_outline.focus,
.btn_outline:active,
.btn_outline:focus,
.btn_outline:hover,
.open > .dropdown-toggle.btn_outline {
    color: #2D25C8 ;
    background: #fff ;
    border-color: #fff ;
}

.full_height_100vh {
    height: 100vh;
}

.vertical_content_manage {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_title_border {
    background-color: #2D25C8;
    height: 6px;
    width: 100px;
    border-radius: 5px;
}

.btn_small {
    padding: 8px 24px;
}

.navbar-brand img {
    height: 34px;
}

.btn_rounded {
    border-radius: 35px !important;
}


/*=====================
      navigation
======================*/

.custom_nav_menu ,
.custom_nav_menu_sub
 {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom_nav_menu .social_menu .list-inline-item:not(:last-child) {
    margin-right: 8px;
}

.custom_nav_menu .navbar-nav li a {
    color: #fff;
    font-size: 14.2px;
    background-color: transparent !important;
    padding: 15px 0;
    margin: 0 7px;
    transition: all 0.4s;
}


.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.stickyadd .navbar-nav {
    margin-top: 0px;
}

.stickyadd.custom_nav_menu .navbar-nav li a {
    color: rgba(0, 0, 0, 0.75);
}

.custom_nav_menu .navbar-brand.logo img {
    height: 26px;
}

.stickyadd.custom_nav_menu {
    margin-top: 0px;
    padding: 8px 0px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom_nav_menu .navbar-nav li.active a,
.custom_nav_menu .navbar-nav li a:hover,
.custom_nav_menu .navbar-nav li a:active {
    color: #ff4f5b !important;
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom_nav_menu .btn-custom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #3f3fa8;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.stickyadd .btn_outline {
    border: 2px solid #3f3fa8;
    background: transparent;
    border-radius: 35px;
    color: #3f3fa8;
}

.stickyadd .btn_outline:hover,
.btn_outline:focus,
.btn_outline:active,
.btn_outline.active,
.btn_outline.focus,
.btn_outline:active,
.btn_outline:focus,
.btn_outline:hover,
.open > .dropdown-toggle.btn_outline {
    color: #fff;
    background: #3f3fa8;
    border-color: #3f3fa8;
}


/*================
     home
==================*/

.bg_home_tech_soft {
    background-color: #3f3fa8;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.home_title {
    font-size: 40px;
    line-height: 1.4;
    max-width: 700px;
    font-weight: 700;
}

.home_subtitle {
    color: #ffffff;
    max-width: 450px;
    font-weight: 500;
    line-height: 1.9;
}

.home_table_cell_center {
    display: table-cell;
    vertical-align: middle;
}

.home_table_cell {
    display: table;
    width: 100%;
    height: 100%;
}

.full_height_100vh_home {
    height: 100vh;
}




.up-index {
    z-index: 2;
}


/*====================
        about
====================*/

.about_details {
    max-width: 400px;
}

.about_details h3 {
    font-size: 30px;
    color: #3A4270;
}


.text_muted{
   color: #868AA5;
   line-height: 1.8;
}




/*====================*/

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 7px;
    margin: 20px 5px;
    border: 1px solid #2D25C8;
    background-color: #2D25C8;
    opacity: 0.4;
}


.logo_img img {
    max-height: 100px;
    width: auto !important;
}


textarea.form-control {
    height: auto !important;
}



/*==================
       footer
====================*/

.footer_background {
    background-color: #2D25C8;
}

.footer_about p {
    max-width: 605px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_detail ul.footer_menu_list li a:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.footer_detail ul.footer_menu_list li a {
    color: #fff;
    display: inline-block;
    padding: 4px 0;
    text-decoration: none !important;
}

.footer_detail .footer_logo {
    height: 34px;
}

.footer_detail .copy-rights {
    line-height: 43px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_detail .fot_bor {
    height: 2px;
    background: #514bc4;
    width: 100%;
}


/*=====================
        @media
=======================*/

@media (max-width: 768px) {
    .custom_nav_menu {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .vertical_content_manage {
        display: inherit;
    }
    .home_title {
        font-size: 32px;
    }
    .text_subtitle {
        color: #514bc4;
        font-style: 700;
    }
    .custom_nav_menu .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: rgba(0, 0, 0, 0.55) !important;
    }
    .custom_nav_menu .navbar-nav li.active a ,
    .custom_nav_menu .navbar-nav li a:hover
    {
        color: #3f3fa8 !important;
        font-style: 700;
    }
    .custom_nav_menu>.container {
        width: 90%;
    }
    .custom_nav_menu .logo .logo-dark {
        display: inline-block;
    }
    .custom_nav_menu .logo .logo-light {
        display: none;
    }
    .custom_nav_menu .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .h-100vh,
    .full_height_100vh_home {
        height: auto;
    }
    .full_height_100vh_home {
        padding: 100px 0px;
    }
    .business_about_details h3 {
        font-size: 22px;
    }
    
    .btn {
        color: #fff;
        background-color: #4a44c5;
        border: 2px solid #4a44c5;
    }
    .btn_baroapp {
        padding: 8px 12px;
        font-size: 12px;
    }
}